* {
    font-family: Arial;
}
body {
    background-image: url("images/mountains.jpg");
    margin: 0;
}

#overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(255,0,106);
}

form {
    max-width: 550px;
    width: 90%;
    background: white;
    margin: 17vh auto 0 auto;
    padding: 40px;
    border-radius: 3px;
    box-sizing: border-box;
}

h1 {
    margin: 0;
    text-align: enter;
}

label {
    display: block;
    margin: 20px 0;
}

input, textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
    resize: none;
    border: none;
    border-bottom: 1px solid #D3D3D3;
}

input[type="text"]:focus, textarea:focus {
    border-bottom: 1px solid rgb(255,0,106);
}

textarea::-webkit-scrollbar {
    width:4px; 
}

textarea::-webkit-scrollbar-thumb {
    background-color: rgb(255,0,106);
} 

  