<!DOCTYPE html> 
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="overlay">
        <form id="contactForm" onsubmit="event.preventDefault(); validateForm()">
            <h1>Contact Us</h1>

            <label for="name">Name:</label>
            <input type="text" id="name" placeholder="Your name">
            <small id="nameError" class="error"></small>

            <label for="email">Email:</label>
            <input type="text" id="email" placeholder="Your Email">
            <small id="emailError" class="error"></small>

            <label for="message">Message:</label>
            <textarea id="message" placeholder="Your Message" rows="6"></textarea>
            <small id="messageError" class="error"></small>

            <div class="center">
                <input type="submit" value="Send Message">
                <p id="success"></p>
            </div>
        </form>
    </div>
    <script src="components/pages/contactForm/ContactUs.js"></script>
</body>
</html>